---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const sbApi = useStoryblokApi();

    const { data } = await sbApi.get("cdn/stories", {
        content_type: "article",
        version: import.meta.env.DEV ? "draft" : "published",
    });

    const stories = Object.values(data.stories);

    return stories.map((story: any) => {
        return {
            params: { slug: story.slug },
        };
    });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/blog/${slug}`, {
    version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;
---

<Layout
    title={story.content.metaTags.title}
    description={story.content.metaTags.description}
    imageToPreload={story.content.imageHero?.filename + "/m/624x0/"}
>
    <div>
        <StoryblokComponent blok={story.content} />
    </div>
</Layout>
<script>
    const io = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    const script = document.createElement("script");
                    script.src =
                        "https://public.codepenassets.com/embed/index.js";
                    document.querySelector("head")?.appendChild(script);
                    io.disconnect();
                }
            });
        },
        {
            rootMargin: "0% 0% 50% 0%",
        },
    );

    const codepens = document.querySelectorAll(
        ".codepen",
    ) as NodeListOf<Element>;

    codepens.forEach((codepen) => {
        io.observe(codepen);
    });
</script>
