---
import { storyblokEditable } from '@storyblok/astro';
import Content from './Content.astro';

const { blok } = Astro.props;
// console.log(blok)
---
  
<article {...storyblokEditable(blok)}>
   <div>
     <h1 class="text-6xl font-bold mt-12 mb-4">
       {blok.title}
     </h1>
     <h2 class="text-xl text-[#1d243d] font-bold mb-4">
       {blok.description}
     </h2>
   </div>
   <Content bloks={blok.content} />
</article>


