---
import { storyblokEditable } from "@storyblok/astro";
const { blok } = Astro.props;
---

<div
    class="mb-7 rounded-lg overflow-clip"
    {...storyblokEditable(blok)}
>
    <div set:html={blok.code} />
</div>
