---
import { storyblokEditable } from "@storyblok/astro";
import hljs from "highlight.js/lib/core";
import javascript from "highlight.js/lib/languages/javascript";
import xml from "highlight.js/lib/languages/xml";
import css from "highlight.js/lib/languages/css";
import "highlight.js/styles/shades-of-purple.min.css";

hljs.registerLanguage("xml", xml);
hljs.registerLanguage("javascript", javascript);
hljs.registerLanguage("css", css);

const { blok } = Astro.props;

const codeBlock = hljs.highlight(blok.code.code, {
    language: blok.code.language,
}).value;
// console.log(blok);
---

<div
    class="code hljs"
    {...storyblokEditable(blok)}
>
    <pre>
        <code set:html={codeBlock}>
        </code>
    </pre>
</div>

<style>
    div.code {
        padding: 0 24px;
        overflow: scroll;
        border-radius: 8px;
        margin-bottom: 28px;
    }
</style>
