---
import { storyblokEditable } from "@storyblok/astro";
import slugify from "slugify";

const { blok } = Astro.props;
const slug = (label: string): string => {
    return slugify(label);
};
---

<h2
    id={slug(blok.title)}
    class="text-3xl lg:text-5xl font-bold mb-6 lg:mb-8 mt-14 lg:mt-16 scroll-mt-10"
    {...storyblokEditable(blok)}
>
    {blok.title}
</h2>
