---
import { storyblokEditable } from "@storyblok/astro";
import slugify from "slugify";

interface Props {
    blok: {
        title: string;
    };
}

const { blok } = Astro.props;
const slug = (label: string): string => {
    return slugify(label);
};
---

<h3
    id={slug(blok.title)}
    class="text-xl lg:text-3xl font-semibold mb-6 lg:mb-8 mt-10 lg:mt-12 scroll-mt-10"
    {...storyblokEditable(blok)}
>
    {blok.title}
</h3>
