---
import Logo from "../assets/logo-creative-front.svg";
---

<footer class="bg-mocha-500 mt-32">
    <div
        class="max-w-[1280px] h-[40vh] mx-auto pt-4 lg:pt-10 px-6 lg:px-8 flex justify-center items-center"
    >
        <div>
            <Logo class="mx-auto" />
        </div>
    </div>
</footer>
