---
import Logo from "@assets/logo-creative-front.svg";
import IconTheme from "./IconTheme.astro";

const menuItems = [
    {
        label: "Articles",
        link: "/blog",
    },
    // {
    //     label: "Catégories",
    //     link: "/categories",
    // },
];
---

<header
    class="pb-6 flex justify-between items-center max-w-[1280px] mx-auto pt-4 lg:pt-10 px-6 lg:px-8"
>
    <div>
        <a
            href="/"
            aria-label="accueil"
        >
            <Logo
                class="max-w-[130px] md:max-w-[180px] lg:max-w-[250px] fill-mocha-900 dark:fill-mocha-100"
                width="250"
                height="24"
            />
        </a>
    </div>
    <nav class="flex gap-4">
        <ul
            class="flex space-x-3 lg:space-x-6 font-[450] text-sm md:text-base lg:text-[17px] items-center"
        >
            {
                menuItems.map((item) => (
                    <li class="text-mocha-900 dark:text-mocha-100">
                        <a href={item.link}>{item.label}</a>
                    </li>
                ))
            }
        </ul>
        <IconTheme />
    </nav>
</header>
