---
import Logo from '../assets/logo-creative-front.svg';

const menuItems = [
    {
        label: 'Articles',
        link: '/blog'
    },
    {
        label: 'Catégories',
        link: '/categories'
    },
]
---
<header class="py-6 flex justify-between">
    <div>
        <a href="/">
            <Logo width="250" height="24" />
        </a>
    </div>
    <nav>
        <ul class="flex space-x-6 font-[450] text-[17px]">
            {
                menuItems.map((item) => (
                    <li>
                        <a href={item.link}>
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>