---
import Logo from "../assets/logo-creative-front.svg";

const menuItems = [
    {
        label: "Articles",
        link: "/blog",
    },
    {
        label: "Catégories",
        link: "/categories",
    },
];
---

<header class="py-6 flex justify-between items-center">
    <div>
        <a href="/">
            <Logo
                class="max-w-[130px] md:max-w-[180px] lg:max-w-[250px]"
                width="250"
                height="24"
            />
        </a>
    </div>
    <nav>
        <ul
            class="flex space-x-3 lg:space-x-6 font-[450] text-sm md:text-base lg:text-[17px]"
        >
            {
                menuItems.map((item) => (
                    <li>
                        <a href={item.link}>{item.label}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
