---
import type { SummaryItems } from "../types/typesProps";

interface Props {
    summary: SummaryItems[];
}

const { summary } = Astro.props;
---

<ul class="mt-4">
    {
        summary.map((item) => (
            <li class="hover:text-mocha-500 hover:underline w-fit">
                <a href={`#${item.slug}`}>{item.label}</a>
            </li>
        ))
    }
</ul>
