---
import type { SummaryItems } from "../types/typesProps";

interface Props {
    summary: SummaryItems[];
}

const { summary } = Astro.props;
// console.log(summary);
---

<ul class="mt-4 space-y-2">
    {
        summary.map((item) => (
            <li
                class:list={[
                    "hover:text-mocha-500 hover:underline w-fit font-medium",
                    item.component === "title_three" &&
                        "text-sm pl-3 opacity-65",
                ]}
            >
                <a href={`#${item.slug}`}>{item.label}</a>
            </li>
        ))
    }
</ul>
