---
import type { SummaryItems } from "../types/typesProps";

interface Props {
    summary: SummaryItems[];
}

const { summary } = Astro.props;
---

<Fragment>
    <ul class="mt-4">
        {
            summary.map((item) => (
                <a href={`#${item.slug}`}>
                    <li>{item.label}</li>
                </a>
            ))
        }
    </ul>
</Fragment>
