---
import { Icon } from "astro-icon/components";

const views = [
    {
        nameIcon: "material-symbols-light:grid-view-rounded",
        dataView: "grid",
    },
    {
        nameIcon: "material-symbols-light:lists-rounded",
        dataView: "list",
    },
];
---

<div class="flex justify-end">
    <ul
        class="flex mb-4 border-mocha-900 dark:border-mocha-100 border-[1px] rounded-sm"
    >
        {
            views.map((view) => (
                <li
                    data-view={view.dataView}
                    class="view-button p-1 border-mocha-900 dark:border-mocha-100 border-r-[1px] last:border-r-0 text-mocha-900 dark:text-mocha-100 hover:bg-mocha-900 dark:hover:bg-mocha-100 hover:text-mocha-100 dark:hover:text-mocha-900 cursor-pointer"
                >
                    <Icon
                        name={view.nameIcon}
                        size={25}
                    />
                </li>
            ))
        }
    </ul>
</div>
<script>
    const views = document.querySelectorAll(".view-button");
    const articleEl = document.querySelector(".articles");

    views[0].classList.add("view--active");

    views.forEach((view) => {
        view.addEventListener("click", () => {
            views.forEach((v) => {
                v.classList.remove("view--active");
            });
            view.classList.add("view--active");
            if (view.getAttribute("data-view") === "list") {
                articleEl?.classList.add("articles--list");
            } else {
                articleEl?.classList.remove("articles--list");
            }
        });
    });
</script>
